@font-face {
    font-family: Lato;
    src:url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap);
   }

a{
    color:white;
    text-decoration: none;
}
a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: #f06c64;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
}
a:active{
    color: #f06c64;
    text-decoration: none;
}

/*Header block*/

main{
    width: 1020px;
    height: 600px;
    background-color: #f06c64;
    position: relative;
    margin-top: 6px;
}


h2{
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}
p{
    width: 219px;
    height: 60px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

/*Header block*/
    h1{
        font-size: 30px;
        line-height: 18px;
        color: #666d89;
        font-family: "Lato";
        font-weight: 900;
        text-align: left;
        width: 115px;
        height: 24px;
        position: absolute;
        margin-left: 42px;
        margin-top: 71px;
        /*letter-spacing: -0.5px;*/
    }
    p{
        font-size: 18px;
        line-height: 30px;
        color: #767e9e;
        font-family: "Lato";
        font-weight: 300;
        text-align: left;
        width: 900px;
        height: 17px;
        position: absolute;
        margin-left: 42px;
        margin-top: 115px;
        
    }


/*Main block +*/
.get-a-quote{

}
.bgBottom{
    width: 1020px;
    height: 6px;
    background-color: #ea676b;
    position: absolute;
    margin-top: 535px;
}
.footer{
    width: 1020px;
    height: 77px;
    background-color: #2d303a;
    position: absolute;
}