@font-face {
    font-family: Lato;
    src:url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap);
   }

a{
    color:white;
    text-decoration: none;
}
a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: #f06c64;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
}
a:active{
    color: #f06c64;
    text-decoration: none;
}

/*Header block*/
header{
    width: 1020px;
    height: 89px;
    background-color: #2d2f39;
    position: relative;
}
    h1{
        font-size: 25px;
        line-height: 6px;
        color: #ffffff;
        font-family: "Lato";
        font-weight: 700; 
        width: 115px;
        height: 20px;
        position: absolute;
        margin-left: 40px;
        margin-top: 40px;
        letter-spacing: -0.5px;
    }
    .navigation ul{
        width: 450px;
        height: 10px;
        position: absolute;
        margin-left: 555px;
        margin-top: 33px;
    }
     .navigation li{
        font-size: 12px;
        line-height: 6px;
        font-family: "Lato";
        font-weight: 700;
        display: inline-block;
        padding: 13px;
     
    }
    .dot{
        color: #494e62;
        position: absolute;
        margin-top: 0px;
        margin-left: -20px;
    }
    .headerBottom{
        width: 1020px;
        height: 6px;
        background-color: #323746;
        position: absolute;
        margin-top: 89px;
    }
/*Main block*/
main{
    width: 1020px;
    position: absolute;
}
/*Section Slider*/
.slider{
    width: 1020px;
    height: 600px;
    background-color: #f06c64;
    position: absolute;
    top:6px;
}
.ChevLeft{
    position: absolute;
    margin-top: 281px;
    margin-left: 42px;
}
.ChevRight{
    position: absolute;
    margin-top: 281px;
    margin-left: 964px;
}
.iPhoneVerticalShadow{
    position: absolute;
    margin-top: 53px;
    margin-left: 112px;
    z-index: 1;
}
.iPhoneVerticalBase{
    position: absolute;
    margin-top: 53px;
    margin-left: 112px;
    z-index: 2;
}
.iPhoneVerticalDisplay{
    position: absolute;
    margin-top: 118px;
    margin-left: 126px;
    z-index: 3;
    width: 188px;
    height: 333px;
    overflow: hidden;
}
.iPhoneHorizontalShadow{
    position: absolute;
    margin-top: 174px;
    margin-left: 426px;
    z-index: 1;
}
.iPhoneHorizontalBase{
    position: absolute;
    margin-top: 174px;
    margin-left: 425px;
    z-index: 2;
}
.iPhoneHorizontalDisplay{
    position: absolute;
    margin-top: 188px;
    margin-left: 485px;
    z-index: 3;
    width: 333px;
    height: 188px;
    overflow: hidden;
}
.sliderBottom{
    width: 1020px;
    height: 6px;
    background-color: #ea676b;
    position: absolute;
    margin-top: 594px;
}
/*Section Our services*/
.our_services{
    width: 1020px;
    height: 494px;
    background-color: #f2f2f2;
    position: absolute;
    top: 606px;
}
.services{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 120px;
}
.service-item{
    width: 320px;
    width: 33%;  
}
.our-service-title{
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    margin-top: 68px;
    margin-left: 40px;
    letter-spacing: 0.5px;
}
.our-service-content{
    width: 949px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    margin-top: 27px;
    margin-left: 40px;
    text-overflow: clip;
}
.service_item_image{
    width: 60px;
    vertical-align: top;
    display: inline-block;
    margin-left: 20px;
    padding-left: 20px;
    margin-top: 50px;
}
.service_item_content{
    width:220px;
    vertical-align: top;
    padding: -10px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 35px;
}
h2{
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}
p{
    width: 219px;
    height: 60px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}
.our-services-Bottom{
    width: 1020px;
    height: 6px;
    background-color: #ffffff;
    position: absolute;
    margin-top: 374px;
}
/*Section Portfolio*/
.portfolio{
    width: 1020px;
    height: 1597px; 
    background-color: #2d303a;
    position: absolute;
    top:1106px;
}
/*portfolio header*/
.portfolio-header{
    width: 1020px;
    height: 190px;
    position: absolute;
    top:-1px;
}
.portfolio-header h1{
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    width: 115px;
    height: 24px;
    position: absolute;
    margin-left: 42px;
    margin-top: 71px;
}
.portfolio-header p{
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    width: 900px;
    height: 17px;
    position: absolute;
    margin-left: 42px;
    margin-top: 115px;
}
.portfolio-navigation ul{
    width: 1020px;
    height: 23px;
    position: absolute;
    margin-left: 1px;
    margin-top: 155px;
}
.portfolio-navigation li{
    font-size: 12px;
    line-height: 20px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 0px 5px;
    border: 1px solid #666d89;
    border-radius: 5px;
    margin-right: 7px;
    }
/*end portfolio header*/
/*portfolio content*/
.portfolio-content{
    width: 1020px;
    height: 610px; 
    background-color: #2d303a;
    position: absolute;
    top:189px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}
.portfolio-image{
    width: 220px;
    height: 187px;
    margin-top: 6px;
    margin-bottom: 14px;
    margin-left: 10px;
    margin-right: 10px;
}
.portfolio-content-Bottom{
    width: 1020px;
    height: 6px;
    background-color: #323746;
    position: absolute;
    margin-top: 863px;
}
/*portfolio about us*/
.about-us{
    width: 1020px;
    height: 728px;
    background-color: #f2f2f2;
    position: absolute;
    margin-top: 869px;
}
.about-title{
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    width: 125px;
    height: 24px;
    position: absolute;
    margin-left: 42px;
    margin-top: 70px;
}
.about-description{
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    width: 939px;
    height: 47px;
    position: absolute;
    margin-left: 42px;
    margin-top: 114px;
}
.about-us{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.about{
    margin-top: 218px;
    margin-left: 39px;
    margin-right: -19px;
}
.about-image{
    width: 300px;
}
.about-name{
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-top: 14px;
}
.about-text{
    width: 300px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    margin-top: 9px;
    letter-spacing: 0.3px;
}
.about-social{
    display: inline-block;
    margin-top: 22px;
    margin-left: 2px;
    letter-spacing: 4px;
}
.portfolio-about-Bottom{
    width: 1020px;
    height: 6px;
    background-color: #ffffff;
    position: absolute;
    margin-top: 728px;
}
.get-a-quote{
    width: 1020px;
    height: 648px;
    position: absolute;
    top: 2709px;
    display: flex;
    flex-direction: column;
    background-color: #f06c64;
}
.get-a-quote-h1{
    font-weight: bold;
    font-size: 29px;
    color: #f0d3d4;
    font-family: "Lato";
    margin-top: 60px;
    margin-left: 40px;
}
.get-a-quote-p{
    line-height: 1.6;
    font-weight: lighter;
    font-size: 18px;
    color: #f0d3d4;
    font-family: "Lato";
    margin-top: 20px;
    margin-left: 40px;
}
.get-a-quote-Bottom{
    width: 1020px;
    height: 6px;
    background-color: #ea676b;
    position: absolute;
    margin-top: 648px;
}
.form-group{
    display: flex;
    flex-direction: column;
    width: 619px;
    height: 363px;
    margin-top: 30px;
    margin-left: 40px;
    color: #f0d3d4;
    font-family: "Lato";
}
#name{
    height: 40px;
    margin-top: 15px;
    border: 0;
    border-radius: 5px;
    background-color: #d7554e;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}
#email{
    height: 40px;
    margin-top: 17px;
    border: 0;
    border-radius: 5px;
    background-color: #d7554e;
    color: #f0d3d4;
    font-family: "Lato";
}
#subject{
    height: 41px;
    margin-top: 16px;
    border: 0;
    border-radius: 5px;
    background-color: #d7554e;
    color: #f0d3d4;
    font-family: "Lato";
}
#describe{
    height: 210px;
    margin-top: 16px;
    border: 0;
    border-radius: 5px;
    background-color: #d7554e;
    color: #f0d3d4;
    font-family: "Lato";
}
.get-a-quote-button{
    width: 100px;
    height: 30px;
    margin-top: 5px;
    margin-left: 40px;
    background-color: #d7554e;
    color: #f0d3d4;
    font-size: 13px;
    border-radius: 5px;
    border: 0;
}
.get-a-quote-contact{
    width: 309px;
    margin-top: -385px;
    margin-left: 683px;
    color: #f0d3d4;
}
.get-a-quote-contact-h{
    font-size: 18px;
    font-family: "Lato";
    font-weight: bold;
}
.get-a-quote-contact-p{
    margin-top: 8px;
    font-size: 12px;
    font-family: "Lato";
    line-height: 1.8;
}
.get-a-quote-contact-info{
    margin-top: 20px;
    margin-left: -37px;
    font-size: 12px;
}
.get-a-quote-contact-info-li{
padding-top: 6px;
list-style-type: none;
}
.contact-image{
    padding-right: 10px;
}
.footer{
    width: 1020px;
    height: 77px;
    background-color: #2d303a;
    position: absolute;
    top: 3460px;
}
h5{
    margin-left: 42px;
    margin-top: 31px;
    color: #666d8a;
    font-family: "Lato";
    font-size: 12px;
}
.about-social-footer{
    margin-left: 827px;
    margin-top: -44px;
    letter-spacing: 5px;
}